<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
                <div class="form-group">
                    <label for="projectName" class="required-label">Project Name:</label>
                    <input type="text"
                           class="form-control"
                           id="projectName"
                           formControlName="projectName">
                    <div *ngIf="signupForm.get('projectName').invalid && signupForm.get('projectName').touched">
                        <p class="has-error"
                           *ngIf="signupForm.get('projectName').errors['required']">
                            Project name is required!
                        </p>
                        <p class="has-error"
                           *ngIf="signupForm.get('projectName').errors['isForbiddenProjectName']">
                            Project name already exist, please enter another one.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="required-label">Email:</label>
                    <input type="text"
                           class="form-control"
                           id="email"
                           formControlName="email">
                    <div *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched">
                        <p class="has-error"
                           *ngIf="signupForm.get('email').errors['required']">
                            Email address is required!
                        </p>
                        <p class="has-error"
                           *ngIf="signupForm.get('email').errors['email']">
                            Please enter a valid email address.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="projectStatus">Project Status:</label>
                    <select class="form-control"
                            id="projectStatus"
                            formControlName="projectStatus">
                        <option *ngFor="let status of projectStatus"
                                [value]="status">
                            {{status}}
                        </option>
                    </select>
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="signupForm.invalid">Submit</button>
            </form>
        </div>
    </div>
    <div class="row" *ngIf="submitted">
        <hr>
        <div class="col-xs-8 col-xs-offset-2">
            <h4 class="text-center">Project Data:</h4>
            <p>Project name: {{projectData.projectName}}</p>
            <p>Emial: {{projectData.email}}</p>
            <p>Project status: {{projectData.projectStatus}}</p>
        </div>
    </div>
</div>